[submodule "docs"]
	path = docs
	url = https://github.com/woojeongalex/com.woojoengalex.docs.git
[submodule "alexview"]
	path = alexview
	url = https://github.com/woojeongalex/com.woojoengalex.frontend.git
[submodule "woojeongai"]
	path = woojeongai
	url = https://github.com/woojeongalex/com.woojoengalex.api.git
